{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} :: {{ block.super }} {% endblock %}

{% block content %}
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
       <div class="whitebox" id="hpage_services">
        <div class="article-container">
            {% for group in grouped_articles %}
                <div class="row">
                    {% for article in group %}
                        <div class="block{% if forloop.last %} last{% endif %}">
                            {% if article.photo %}<img src="{{ article.photo.url }}" width="100." height="100" alt="" />
                            {% else %}
                                <img src="{% static 'images/default-image.png' %}" width="100" height="100" alt="Default Image" />
                            {% endif %}
                            <strong>{{ article.title }}</strong>
                            <p>{{ article.content| truncatechars:50}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="spacer">&nbsp;</div>
    </div>
    <!-- ####################################################################################################### -->
    <div id="hpage_latest">
      <ul>
        <li>
          <div class="imgholder"><a href="#"><img src="{% static 'images/demo/260x180.gif' %}" width="260" height="180" alt="" /></a></div>
          <p><strong>Lorum ipsum dolor</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="{% static 'images/demo/260x180.gif' %}" width="260" height="180" alt="" /></a></div>
          <p><strong>Lorum ipsum dolor</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="#"><img src="{% static 'images/demo/260x180.gif' %}" width="260" height="180" alt="" /></a></div>
          <p><strong>Lorum ipsum dolor</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
{% endblock%}